@import "../../styles/globals.css";

nav {
  padding: 15px 0px 15px 20px;
  border-bottom: 3px solid var(--yellow);
}

nav p {
  font-weight: bold;
  font-size: 1.2rem;
}

nav p span {
  color: var(--yellow);
}
